body {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.5;
  color: #505F98;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


a {
  text-decoration: none;
}


.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.header {
  width: 100%;
  
  positio: abosolute;
  top: 0;
  left: 0;  
  right: 0;
  z-index: 100px;
}

.nav {
  text-transform: uppercase;
}