body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  background-color: black;
  background-size: cover;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.container {
  margin: 0px 166px;
}

.header-line {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-items {
   /* text-decoration: none; */
  font-weight: 700;
  font-size: 14px;

  margin-right: 25px;

  transition: color 0.3s linear;
}

.nav-items:hover {
  color: #FF7400;
}

.geo {
  position: relative;
  border-right: 1px solid #FFFFFF;
  height: 50px;
}

.fa-location-crosshairs {
  position: absolute;
  top: 18px;
  right: 7px;
  transition: color 0.3s linear;

}

.fa-location-crosshairs:hover {
  color: #FF7400;
}

.num {
  font-weight: 700;
  font-size: 17px;;
  /* color: white; */
}

.phone-text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

/* .fa-solid-fa-phone-volume{
  background-color: white;
} */


section {
  margin:  200px 166px;
  color: white;
  background-color: black;
  font-size: 20px;
}


.button {
  border: none;
  color: white;
  height: 45px;
  width: 100px;
  background-color: #FF7400;
  border-radius: 10px;
  
  transition: background-color 0.2s linear;
}

.button:hover {
  background-color: #ff8000;
}

.button:active {
  height: 40px;
  font-size: 13;
  background-color: #ff7300bc;
}