body {
    font-family: Merlin;
    font-size: 14px;
    line-height: 1.5;
    color: black;
    transition: 5ms ease;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
.wrapper {
    width: 100%;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    max-width: 1000px;
    margin: 0 auto;
}
p {
    padding-bottom: 1.5rem;
  
}